.textBox {
  background-color:rgba(235, 209, 125, 0.8);
  border-radius: 5rem;
  min-height: 60%;
  width: 65%;
  padding: 3rem;
  margin: 2rem;
  box-shadow:rgba(194, 118, 183, 0.3) 0px 5px 10px;
}

.photo {
  height: 50%;
  background-size: contain;
  border-radius: 100%;
  box-shadow:rgba(194, 118, 183, 0.3) 0px 5px 10px;
  margin: 2rem;
  border: solid #c24627 7px;
}

.main {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
}

.aboutText {
  font-size: 1.5rem;
}

.nameText {
  font-size: 3rem;
  text-align: center;
  margin: 0px;
  color: #c24627;
}

.nameText:hover {
  background: transparent;
  animation: wiggle 2s;
}

.bg {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #C9D1A0 50%, #ebd17d 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #C9D1A0 50%, #c24627 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  animation-direction:alternate-reverse;
  animation-duration:10s;
}

.bg3 {
  background-image: linear-gradient(-60deg, #bbca72 50%, #8d984f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  animation-duration:10s;
  animation:slide 10s ease-in-out infinite alternate;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (max-width: 1100px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .container {
    height: auto;
  }  
  .textBox {
    height: auto;
  }

  .photo {
    width: 40%;
  }
  
  .nameText {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  
  .aboutText {
    font-size: 1.3rem;
  }
}