.navBar {
  background: linear-gradient(rgba(186, 215, 242, 1), rgba(186, 215, 242, 0.5));
  height: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.activeLink {
  background-color: #BAF2BB;
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5rem;
}

.inactiveLink {
  background-color: #F2E2BA;
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5rem;
}

.navList {
  display: flex;
  margin: 1rem;
  align-items: center;
}